[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
cx-oracle = "*"
pyyaml = "*"
openpyxl = "*"
docxtpl = "*"
selenium = "*"
beautifulsoup4 = "*"
pillow = "*"

[requires]
python_version = "3.7"
